{% extends "index.html" %}

{% block content %}
<main class="w3-container">

    <div class="w3-panel textimage">
        <img alt="" src="/img/albatros.png" />
        <div>
            <h1>Albatros, Multilang</h1>
            <p>The most difficult part when having a multilang website with a lot of languages is to keep it up to date.
            </p>
            <p>That's why I chose the approach of having multiple websites and only have langage flags added on each page individually. This even allows for an other site to change its theme as long as it keeps the same urls.</p>
            <a class="w3-round w3-large" href="https://example.fr/"><i class="fa fa-external-link-square"></i>
                website</a>
        </div>
    </div>

</main>
{% endblock content %}