{% extends "index.html" %}

<!-- {% block description %}
<meta name="description" content="Albatros is a theme for Zola">{% endblock description %}
{% block keywords %}
<meta name="keywords" content="Albatros, Zola, SSG">{% endblock keywords %} -->

{% block content %}
<main class="w3-container">

    <div class="w3-panel textimage">
        <img alt="img" src="/img/albatros.svg" />
        <div>
            <h1>AIoT Reasearch Group</h1>
            <h2>AIR, THU</h2>
            <p>This is an introduction of us.</p>
            <p>LOGO on the left?</p>
            <p>We can add a photo/picture in the background.</p>
            <!-- <a class="w3-round w3-large albatros-download-button" href="/"><i class="fa fa-cloud-download"></i> Download
                Albatros</a> -->
        </div>
    </div>

    <div class="w3-panel">
        <h1 class="w3-center">Research Interests</h1>
        <div class="numbercards">
            <div class="numbercard">
                <span class="false_h2">方向 1</span><span class="false_h3">1</span>
                <p>这是方向 1.</p>
            </div>
            <div class="numbercard">
                <span class="false_h2">方向 2</span><span class="false_h3">1</span>
                <p>这是方向 2.</p>
            </div>
            <div class="numbercard">
                <span class="false_h2">方向 3</span><span class="false_h3">1</span>
                <p>这是方向 3.</p>
            </div>
        </div>
    </div>

    <div class="w3-panel titletextimage">
        <h1>News</h1>
        <div>
            <!-- <img alt="img" style="width: 25%;" src="/img/albatros.png" /> -->
            <div>
                <p>This is news.</p>
                <p>This is news.</p>
                <!-- <a href="/" class="w3-round w3-button w3-blue">Call to action</a> -->
            </div>
        </div>
    </div>

</main>
{% endblock content %}