{% extends "index.html" %}

{% block content %}
<main class="w3-container w3-padding-64">

<section class="w3-content">
    <h1 style="text-align: center;">Albatros Grid</h1>
</section>

<section class="w3-content w3-padding-32">
    <div class="titlecards">
        <div class="w3-row-padding">
            <div class="w3-col m4"> 
                <a href="/"><img src="/img/albatros.svg"/></a>
                <h3>Albatros</h3>
                <p>Magni velit in facilis nostrum doloribus asperiores aperiam. Recusandae nemo amet ut. Nulla deserunt quidem consectetur maxime. Perferendis enim autem ad. Architecto pariatur similique labore qui ut iusto beatae.</p>
            </div>
            <div class="w3-col m4"> 
                <a href="/"><img src="/img/albatros.svg"/></a>
                <h3>Albatros</h3>
                <p>Mollitia et a nesciunt. Eum non quas minima et et qui quos voluptatem. Similique qui recusandae nam omnis aut sit. Non illo ex fuga. Nihil sunt corrupti voluptas dolorem. Sequi facere vitae ut.</p>
            </div>
            <div class="w3-col m4"> 
                <a href="/"><img src="/img/albatros.svg"/></a>
                <h3>Albatros</h3>
                <p>Rerum in aut perspiciatis accusantium quos qui. Et sapiente est dignissimos. Corrupti reprehenderit odit ad iure velit minima accusamus in. Accusantium nulla sint quam totam. Saepe velit deleniti optio eum.</p>
            </div>
        </div>
    </div>
</section>

<section class="w3-content w3-padding-32">
    <div class="titlecards">
        <h1>Many albatri</h1>

        <div class="w3-row-padding">
            <div class="w3-col m4">
                <i class="fa fa-bullhorn"></i>
                <h3>Albatros</h3>
                <p>Magni velit in facilis nostrum doloribus asperiores aperiam. Recusandae nemo amet ut. Nulla deserunt quidem consectetur maxime. Perferendis enim autem ad. Architecto pariatur similique labore qui ut iusto beatae.</p>
            </div>
            <div class="w3-col m4">
                <i class="fa fa-database"></i>
                <h3>Albatros</h3>
                <p>Mollitia et a nesciunt. Eum non quas minima et et qui quos voluptatem. Similique qui recusandae nam omnis aut sit. Non illo ex fuga. Nihil sunt corrupti voluptas dolorem. Sequi facere vitae ut.</p>
            </div>
            <div class="w3-col m4">
                <i class="fa fa-battery-half"></i>
                <h3>Albatros</h3>
                <p>Rerum in aut perspiciatis accusantium quos qui. Et sapiente est dignissimos. Corrupti reprehenderit odit ad iure velit minima accusamus in. Accusantium nulla sint quam totam. Saepe velit deleniti optio eum.</p>
            </div>
        </div>

        <div class="w3-row-padding">
            <div class="w3-col m3">
                <img style="height: 5em; width: unset; margin-bottom: -12px;" src="/img/albatros.svg"/>
                <h3>Albatros</h3>
                <p>Loremostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="w3-col m3">
                <i class="fa fa-gears"></i>
                <h3>Albatros</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod teea commodo consequat.</p>
            </div>
            <div class="w3-col m3">
                <img style="height: 4em; width: unset; margin-bottom: -12px;" src="/img/albatros.svg"/>
                <h3>Albatros</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididuntre et dolore magna aliqua. Ut enim ad minim ex ea commodo consequat.</p>
            </div>
            <div class="w3-col m3">
                <i class="fa fa-terminal"></i>
                <h3>Albatros</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodommodo consequat.</p>
            </div>
        </div>

        <div class="w3-row-padding">
            <div class="w3-col m3">
                <i class="fa fa-spell-check"></i>
                <h3>Albatros</h3>
                <p>Duis aute irure dolor iiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="w3-col m3">
                <i class="fa fa-book"></i>
                <h3>Albatros</h3>
                <p>Irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nont in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="w3-col m3">
                <img style="height: 4em; width: unset; margin-bottom: -12px;" src="/img/albatros.png"/>
                <h3>Albatros</h3>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cilluident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="w3-col m3">
                <i class="fa fa-play-circle"></i>
                <h3>Albatros</h3>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum doloretur. Excepteur sint occaecat cupidatat non proident, sunt i culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>   


    </div>
</section>

</main>
{% endblock content %}
