{% extends "index.html" %}

{% block extrahead -%}
<link rel="stylesheet" type="text/css" href="/style/timeline.css">
{%- endblock extrahead %}

{% block content %}

<main class="w3-container">

  <div class="w3-panel textimage">
    <img alt="logo Ğ1" style="width: 30%;" src="/img/albatros.svg">
    <div>
      <h1>Albatros Timeline</h1>
      <p>This is an example where you add custom css that you found somewhere.</p>
      <p>And only want to add it for a specific page as an asset, and not include this in your sass code.</p>
      <a class="w3-round w3-large" href="https://example.org/"><i class="fa fa-external-link-square"></i> example.org</a>
    </div>
  </div>

  <div class="timeline">

    <div class="container right">
      <div class="content">
        <h5>2022</h5>
        <p>Rerum in aut perspiciatis accusantium quos qui. Et sapiente est dignissimos. Corrupti reprehenderit odit ad iure velit minima accusamus in. Accusantium nulla sint quam totam. Saepe velit deleniti optio eum.</p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h5>2021</h5>
        <p>Rerum in aut perspiciatis accusantium quos qui. Et sapiente est dignissimos. Corrupti reprehenderit odit ad iure velit minima accusamus in. Accusantium nulla sint quam totam. Saepe velit deleniti optio eum.</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h5>2020</h5>
        <p>Rerum in aut perspiciatis accusantium quos qui. Et sapiente est dignissimos. Corrupti reprehenderit odit ad iure velit minima accusamus in. Accusantium nulla sint quam totam. Saepe velit deleniti optio eum.</p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h5>2019</h5>
        <p>Rerum in aut perspiciatis accusantium quos qui. Et sapiente est dignissimos. Corrupti reprehenderit odit ad iure velit minima accusamus in. Accusantium nulla sint quam totam. Saepe velit deleniti optio eum.</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h5>2018</h5>
        <p>Rerum in aut perspiciatis accusantium quos qui. Et sapiente est dignissimos. Corrupti reprehenderit odit ad iure velit minima accusamus in. Accusantium nulla sint quam totam. Saepe velit deleniti optio eum.</p>
      </div>
    </div>

  </div>

  <div class="w3-panel textimage">
    <div>
      <h2>Nice Albatros</h2>
      <p>Rerum in aut perspiciatis accusantium quos qui. Et sapiente est dignissimos. Corrupti reprehenderit odit ad iure velit minima accusamus in. Accusantium nulla sint quam totam. Saepe velit deleniti optio eum.</p>
      <a class="w3-round w3-button w3-red" href="/">French</a>
      <a class="w3-round w3-button w3-orange" href="/">Catalan</a>
      <a class="w3-round w3-button w3-yellow" href="/">Castillan</a>
      <a class="w3-round w3-button w3-green" href="/">Esperanto</a>
      <a class="w3-round w3-button w3-blue" href="/">English</a>
      <a class="w3-round w3-button w3-indigo" href="/">Italian</a>
      <br></br>
      <div>
        <a class="w3-round w3-large" href="/"><i class="fa fa-map"></i>
          map.example.com</a>
      </div>
    </div>
    <img alt="logo Ğ1" style="max-width: 30%;" src="/img/albatros.png">
  </div>

</main>
{% endblock content %}